body{
  background-color: lightgray;
}

.header{
  background-color: darkcyan;
  width: 100%;
  position: fixed;
  top: 0%;

}
.header h1{
  text-align: center;
	float: left;
	margin-left: 22px;
	padding: 8px 0;
	font-family: "Great Vibes", cursive;
	font-style: italic;
	color: #1c6363;
}
.link{
	width: 600px;
	margin: 0 599px;
}
.link ul{
	
}
.link ul li{
	float: left;
	margin: 0 34px;
	list-style: none;
	margin-top: 5px;
}
.link ul li a{
	text-decoration: none;
	text-align:center;
	color: aliceblue;
	font-size: 16px;
	padding: 24px 20px;
	border-bottom: 1px solid #244a4b;
}
.link ul li a:hover{
	border-bottom: 3px solid #2e3436;
}




.dropdown img{
  width: 51px;
  height: 51px;
  line-height: 51px;
  border-radius: 50%;
  background-color: #1C6363;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 12px;
    margin-top: -8px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(63, 127, 127);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 4px;
    height: 163px;
    border-radius: 3px;
}
.dropdown-content img{
  width: 83px;
  height: 83px;
  line-height: 83px;
  border-radius: 50%;
  background-color: #3BB1A4;a
  color: white;
  font-size: 37px;
  cursor: pointer;
  text-align: center;
  margin-left: 38px;
  margin-top: 6px;
}
/* Links inside the dropdown */
.drop-a{
  margin-top: 41px;
  margin-left: 4px;
}
.drop-a a{
  text-align: center;
  text-decoration: none;
  padding: 9px 16px;
  background-color: #1c6363;
  font-size: 14px;
  color: lightgray;
}

/*.dropdown-content a:hover {background-color: #f1f1f1}
 Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} Change the background color of the dropdown button when the dropdown content is shown */




.nav-side-menu {
  top:68px;
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #1a7575;
  position: fixed;
  width: 236px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 39px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #587b6d;
	background-color: #18b7a6;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #3f7f7f;
  border: none;
  line-height: 35px;
  border-bottom: 1px solid #2b605e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #008b8b;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #2b605e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 28px;
    font-size: 18px;
    color:darkseagreen;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #3f7f7f;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.status{
  margin-left: 248px;
	margin-right: 10px;
	margin-top: 4px;
	border-bottom: 1px solid !important;
	padding: 49px 0px;
}
.sss{
	
}
.sss h2{
	
}
.count{
	margin-left: 578px;
	position: static;
}
.count h2{
	margin-top: 40px;
	float: left;
	margin-left: -518px;
	color: #1c6363;
}
.count h3{
	float: left;
	margin: 0 36px;
	margin-top: 21px;
	height: 56px;
	width: 56px;
	line-height: 55px;
	border-radius: 50%;
	background-color: #244a4b;
	text-align: center;
	color: #fff;
}

.br {
	margin-left: 580px;
	margin-top: 53px;
}
.br p{
	float: left;
	margin: 0 43px;
	margin-top: 2px;
	font-style: italic;
	font-size: 14px;
	color:#1c6363;
}

.bdr{
	
}


.container{
	width: 1014px;
	margin-left: 291px;
	text-align: center;
	margin-top: 100px;
	position: static;
}

.dd{
	background-color:#3f7f7f;
	border:1px solid lightgray;
	padding: 8px;
}
.ddh{
	text-align: center;
	color:#133f3f;
}
.ddbutton{
	width: 287px;
	margin-top: -45px;
	margin-left: 680px;
	padding: 5px;
	border: 1px solid #207171;
	border-radius: 3px;
}
.ddbutton input{
	background-color: #3f7f7f;
	border: none;
	padding: 5px;
	font-size: 14px;
	width: 226px;
}
.ddbutton a{
	padding: 10px;
}
.ddbutton i{
	color: snow;
}
.ddbutton a:hover i{
	color:#183f3b;
}

table{
	width:980px;
	border:1px solid #847c7c;
	box-shadow: 2px 8px 16px 5px rgba(0,0,0,.3);
	border-collapse:collapse;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none;
    text-align:center;
    background-color:darkgray;
    padding-top:10px;
    padding-bottom:10px;
     font-size:15px;
}
.table td, .table th {
    padding: 0;
    vertical-align: top;
    border-top: none;
    border-left: 1px solid #eeeeec;
}
.table td{
	padding-top:8px;
	padding-bottom:8px;
	text-align:left;
	font-size: 15px;
}


tr:nth-child(odd){
    background-color: #f3f3f3;
    transition: .2s;
}
tr{
	background-color: white;
}
tr:hover{
    background-color: #c0c0c0;
}
tr:last-child{
	text-align:center;
}
.action{
	
}
.action a{
	margin-left: 1px;
	float: left;
	padding: 4px 14px;
	background: #1b6161;
	color: black;
	text-decoration: none;
}
.action i{
	color:#63dada;
	font-size: 18px;
	padding: 0 1px;
}


/* this part for add user*/
.fullForm{
	border:1px solid darkGray;
	box-shadow: 2px 8px 16px 5px rgba(0,0,0,.3);
}

.addForm{
	width: 466px;
	margin: 0 auto;
	margin-top: 17px;
}

.tt{
	
}


.selectpicker{
	width: 465px;
	padding: 8px;
	margin: 22px 0;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	border: 1px solid #bcb6b6;
}
.selectpicker option{
	border:none;
}
.btn-group{
	margin: 16px 26px;
}
.btn-primary {
    color: #fff;
    background-color: #008b8b;
    border-color: #008b8b;
}
.btn-primary:hover {
    background-color: #008b8b;
    border-color: #008b8b;
}
.inputtext{
	
}
.inputtext input{
	width: 465px;
	margin: 17px 0;
	border: 1px solid #bcb6b6;
	border-radius: 4px;
	padding: 6px 6px;
	font-size: 14px;
	font-style: italic;
}
.inputtext input:hover{
	border:1px solid rgba(133,133,133,.9);
}

.gender{
	text-align: left;
}
.gender input{
	margin: 0 20px;
}

#section-dash{
	margin-left: 285px;
	margin-top: 61px;
	padding: 0 15px;
}

.main-content{
	
}
.dashboard {
	
}
.dashboard a{
	color:#86c1c3;
}
.dash {
	float: left;
	margin: 0 22px;
	border: 1px solid #1c6363;
	background-color: #d0d4d8;
	border-radius: 4px;
	margin-bottom: 38px;
	transition: .5s;
	width: 126px;
	text-align:center;
	color: #2a6977;
	height: 98px;
}
.dash:hover{
	background-color: #244a4b;
	color:lightgray;
}
.dash h3{
	text-align: center;
	font-size: 17px;
}
.dash i{
	font-size: 38px;
	line-height: 58px;
}

#section-footer{
	/* its only for adminpanle.jsp page*/
	margin-left: 506px;
	text-align: center;
	width: 490px;
	float: left;
}
.footer{
	margin-top: 100px;
	margin-bottom:50px;
	color: #9f9f95;
}
.footer h2{
	font-size: 17px;
}
.footer p{
	font-size: 14px;
}



/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #1c6363;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #004040;
    color: white;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #004040;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 1px 1px;
    border: 1px solid #ccc;
    border-top: none;
    padding-bottom: 30px;
    box-shadow: 2px 8px 16px 5px rgba(0,0,0,.3);
}
.tabcon th{
	background: #0b868b;
	padding: 10px 29px;
	border-left: 1px solid gray;
	font-size: 14px;
}
.tabcon table{
	box-shadow: none;
}

.tabcon td{
	padding: 0px;
	border-left: 1px solid gray;
	text-align: left;
	font-size: 15px;
	padding-left: 7px;
}

.adddep{
	width: 79%;
	margin-left: 96px;
	margin-top: 24px;
	border: 1px solid gray;
	padding: 47px 0;
	font-size: 15px;
}
.adddep input{
	width: 460px;
	border: 1px solid beige;;
	border-radius: 3px;
	padding: 8px 11px;
	margin-bottom: 35px;
	font-size: 14px;
}
.adddep input:hover{
	border:1px solid #408080;
}
.adddep textarea{
	width: 395px;
	border: navajowhite;
	border-radius: 3px;
	padding: 14px;
}

.depbtn{
	margin-top: 42px;
	margin-left: 57px;
}
.tab .ddbutton{
	margin-top: 2px;
}
.tab .ddbutton:hover{
	border:1px solid #004000;
}
.tab .ddbutton input{
	background: #1c6363;
}

.pa-gen{
	margin-left: -33px;
}
.pa-gen input{
	width: 30px;
	text-align: left;
	margin-left: 44px;
}
.selectpic{
	width: 290px;
	padding: 8px;	border: 1px solid beige;
	border-radius: 3px;
	margin-bottom: 39px;
	margin-right: 163px;
}

.page{
	margin-top: 40px;
	margin-left: 224px;
}
.page a{
	margin: 0 5px;
	text-decoration: none;
	padding: 6px 21px;
	background: #d3d3d3;
	border-radius: 20px;
	color: #172929;
	transition: .3s;
	border: 1px solid darkcyan;
}
.page a:hover{
	background:#004040;
	border: 1px solid darkcyan;
	color:lightgray;
}
div.page a.active {
    background-color: #000080;
}

.areatext{
	margin-left: 154px;
	padding: 11px;
	border: 1px solid #b9b0b0;
	width: 500px;
	margin-bottom: 34px;
	background: #ceced5;
}
.areatext textarea{
	width: 475px;
	padding: 2px 11px;
}
div.calendar {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
      }
      div.calendar table {
        width: 100%;
      }
      div.dateField {
        width: 140px;
        padding: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        color: #555;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      div#popupDateField:hover {
        background-color: #cde;
        cursor: pointer;
      }
    
    
#topcalender{
	width:100%;
}    
.topcal{
      width: 62%;
}

.downcal{
     margin-left: 167px;
}
.downcal h3{
      text-align: center;
}
div.calender{
	max-width: 501px;
    margin-left: auto;
    margin-right: auto;
}
div.calendar td, div.calendar th {
    padding: 15px;
    text-align: center;
}
.noticeboard{
	float: right;
	width: 42%;
}
.notice{
	margin-top: -366px;
	box-shadow: 2px 8px 16px 5px rgba(0,0,0,.3);
	margin-right: 17px;
}
.n-head{
	
	padding: 10px 20px;
	background: #1c6363;
	color: lightgray;
}
.n-head i{
    float: left;
    margin-top: 8px;
    margin-left: 4px;
    font-size: 20px;
    margin-right: 6px;
}

.n-head p{
	float: right;
	margin-top: -31px;
	font-weight: bold;
}
.n-content{
	
}
.head-title{
	margin-left: 9px;
	margin-top: 10px;
	margin-right: 9px;
	background: whitesmoke;
	border-radius: 4px;
}

.head-title h4{
	margin-left: 21px;
	padding: 8px 0px;
}
.paragrap {
	margin-left: 9px;
}
.paragrap textarea{
	border-radius: 4px;
	border-style:none;
	padding-top: 8px;
}
label{
	font-size: 18px;
	padding: 0px 21px;
}
